.flag {
    width: 150px;
    border: 2px solid gold;
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    display: flex;
    position: fixed;
    bottom: 0;
}

.marquee {
    color: #ffd700;
    font-size: 1.1em;
    font-family: 'Papyrus', fantasy;
}

.fullListButton {
    margin: 0 10px;
    padding: 10px 20px;
    width: 200px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.fullListButton:hover {
    background-color: #ffc107;
}
